body{direction: rtl; font-size: 1em;}
.col-md-8 , .col-md-4 {padding-top: 0; padding-bottom: 0;}
ul , li {list-style: none; margin: 0;}
a:hover , a:visited , a:focus , a:active{text-decoration: none;}
h1{font-size: 1.8em;}
#white{background: #fff;}
.rtl{direction: rtl;}
.ltr{direction: ltr;}
.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify;}
.mr-auto{margin: auto !important;}
.font-1{font-size: 1.8em;}
.font-2{font-size: 2.5em;}
.font-3{font-size: 2.1em;}
.font-65{font-size: 65px;}
.font-bold{font-weight: bold;}
/* .row{margin: 0 !important; padding: 0 !important;} */
.float-left{float: left !important;}
.float-right{float: right !important;}
.color-text{color: #444;}
.line{line-height: 1.8em;}
.pb30{padding-bottom: 30px;}
.pt30{padding-top: 30px;}
.pr7{padding-right: 7px;}
.pl7{padding-left: 7px;}
.row-custom>h3{font-size: 1.5em;}
/* ///////////////////////mainDropDownMenu */
.mainDropDownMenu{display: none;}
.mainDropDownMenu{
  background: #eb3b5a;
  height: 212px;
  width: 150px;
  position: absolute;
  right: 316px;
}
.mainDropDownMenu>ul{
  padding: 0 !important;
}
.mainDropDownMenu li:hover{
  background: #d33551;
}
.mainDropDownMenu li{
  padding: 16px 0;
  text-align: center;
}
.menu-link:hover{
  color: #fff;
}
.row-custom{
  width: 86%;
  margin: auto;
  padding: 0 10px;
}
.mainmenu{margin-right: 70px;}
.navbar-menu{
  direction: rtl !important;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}
.navbar-bg{
  background: #eb3b5a !important;
}
.menu>ul , .menu>ul>li , .menu>ul>li>ul{
  height: 56px;
}
.menu>ul{
  text-align: right;
  margin-right: 0;
  padding-right: 0 !important;
}
.menu>ul>li{
  display: inline-block;
}
.menu ul li a{
  color: #fff;
  padding: 18px 15px;
  display: block;
}
.menu li:hover{
  background: #d33551;
}
.menu-link{
  font-size: .9em;
  font-weight: bold;
  color: #fff;
  padding: 0 15px;
}
.brand{
  padding: 0 !important;
}
.brand>img{
  height: 30px;
  margin: auto;
  margin-top: 10px;
}
/* //////////////////////mobilemenu//////////////// */
.iconbar{
  color: #fff;
  font-size: 14px;
  margin: auto;
  padding-right: 44px;
}
.fa-bars{
  cursor: pointer;
}
.mobileLogo>img{
  height: 25px;
  margin: 7px 0;
}
.mainmenuMobile{display: none;}
.mainmenuMobile{
  font-size: 14px;
}
.mainmenuMobile>ul{
  padding: 10px 0;
  margin: 0 5%;
  font-size: 10px;
}
.mainmenuMobile a{
  color: #fff;
  padding: 14px 0;
  display: block;
  padding-right: 20px;
}
.mainmenuMobile a:hover{
background: #d33551;
}
.mainmenuMobile>a:hover{
  color: #fff;
}
.mobilemenu{visibility: hidden;}
section{border-bottom: 1px solid #ccc;}
.mainDropDownMenuMobile{display: none;}
/* ///////////////////////////////////// section-1////////////////////////////*/
.headerwrap{
  background: #000;
  padding: 0 !important;
  position: relative;
}
.image-cover{
  background: url("../img/homepage-cover.jpg") no-repeat center center;
  background-size: cover;
  min-height: 384px;
  filter: blur(2px);
  -webkit-filter:blur(2px);
  opacity: .3;
}
.text{
  position: absolute;
  right:0 !important;
  top: 32%;
  color: #fff;
  text-align: center;
}
.main{
  position: relative;
  top: -2px;
}
.main .col-sm-6{
  padding-bottom: 2.5em;
}
.main i{
  padding-bottom: 30px;
}
.title{
  padding: 1.5em 0 1em 0 ;
  margin: auto;
}
.title>.font-1{
  margin-right: 10px;
}
.animationTyping{
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
/* /////////////////////footer///////////////////// */
footer{
  background: #eee;
  color: gray;
  padding: 30px 0;
}
footer p{
  font-size: .7em;
  font-family: sans;
}
footer hr{
  width: 100%;
}

/* /////media query */

@media (max-width:992px) {
  .mobilemenu{visibility: visible;}
  .desktopmenu{visibility: hidden;}
  .mobilemenu{
    position: absolute;
    top: 0;
    width: 100%;
  }
  .text{
    position: absolute;
    right:0 !important;
    top: 32%;
    color: #fff;
    text-align: center;
  }
  .mainDropDownMenu{
    position: absolute;
    z-index: 9;
    top: 39%;
    right: 16px;
    background:#eb3b5a;
    height: auto;
  }
  .mainDropDownMenu{
    height: 50px;

  }
  .mainDropDownMenuMobile{
    background: #eb3b5a;
    height: auto;
    width: auto;
    position: absolute;
    right: 17px;
    z-index: 9;
    top: 217px;
    /* transform-origin: 100% 0px 0px;
    transform: scaleX(1) scaleY(1); */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }
  .mainDropDownMenuMobile li{
    background: #eb3b5a;
    min-height: 50px;
    line-height: 1.5rem;
    padding: 10px 0;
  }
}
.show{display: block;}
